Localization
{
  RSSROConfig = true
  ru
  {
    #LOC_VABOrganizer_BulkheadSortTooltip = Сортировка по профилю
    // Bulkhead codes
    // ---------------
    // Stock and cylinders
    #LOC_VABOrganizer_Bulkhead_srf = SRF
    #LOC_VABOrganizer_Bulkhead_size00 = 0.3125м
    #LOC_VABOrganizer_Bulkhead_size0 = 0.625м
    #LOC_VABOrganizer_Bulkhead_size0p5 = 0.9375м
    #LOC_VABOrganizer_Bulkhead_size1 = 1.25м
    #LOC_VABOrganizer_Bulkhead_size1p5 = 1.875м
    #LOC_VABOrganizer_Bulkhead_size2 = 2.5м
    #LOC_VABOrganizer_Bulkhead_size2p5 = 3.125м
    #LOC_VABOrganizer_Bulkhead_size3 = 3.75м
    #LOC_VABOrganizer_Bulkhead_size3p5 = 4.375м
    #LOC_VABOrganizer_Bulkhead_size4 = 5м
    #LOC_VABOrganizer_Bulkhead_size4p5 = 5.625м
    #LOC_VABOrganizer_Bulkhead_size5 = 6.25м
    #LOC_VABOrganizer_Bulkhead_size5p5 = 6.875м
    #LOC_VABOrganizer_Bulkhead_size6 = 7.5м
    #LOC_VABOrganizer_Bulkhead_size6p5 = 8.125м
    #LOC_VABOrganizer_Bulkhead_size7 = 8.75м
    #LOC_VABOrganizer_Bulkhead_size7p5 = 9.375м
    #LOC_VABOrganizer_Bulkhead_size8 = 10м

    #LOC_VABOrganizer_Bulkhead_mk1 = MK1
    #LOC_VABOrganizer_Bulkhead_mk2 = MK2
    #LOC_VABOrganizer_Bulkhead_mk3 = MK3

    // Mods
    #LOC_VABOrganizer_Bulkhead_size1p8 = 2.25м
    #LOC_VABOrganizer_Bulkhead_size1p2 = 1.5м
    #LOC_VABOrganizer_Bulkhead_hex = ГЕКС
    #LOC_VABOrganizer_Bulkhead_octo = ОКТО
    #LOC_VABOrganizer_Bulkhead_spinal = СПИРАЛЬ
    #LOC_VABOrganizer_Bulkhead_mk4 = MK4

    // Subcategory names
    // ---------------
    #LOC_VABOrganizer_Subcategory_misc = Разное
    #LOC_VABOrganizer_Bulkhead_procedural = Процедурные

    // Aero
    #LOC_VABOrganizer_Subcategory_wings = Крылья
    #LOC_VABOrganizer_Subcategory_controlSurfaces = Управляющие поверхности
    #LOC_VABOrganizer_Subcategory_noses = Носовые обтекатели
    #LOC_VABOrganizer_Subcategory_intakes = Воздухозаборники
    #LOC_VABOrganizer_Subcategory_deployableControlSurfaces = Выдвигающиеся управляющие поверхности
    #LOC_VABOrganizer_Subcategory_rotorBlades = Лопасти ротора
    #LOC_VABOrganizer_Subcategory_airAcessories = Гонодолы

    // Cargo
    #LOC_VABOrganizer_Subcategory_cargoStorage = Хранение груза
    #LOC_VABOrganizer_Subcategory_deployable = Развертываемые

    // Command
    #LOC_VABOrganizer_Subcategory_landers = Посадочные модули
    #LOC_VABOrganizer_Subcategory_probes = Зонды
    #LOC_VABOrganizer_Subcategory_cockpits = Кабины
    #LOC_VABOrganizer_Subcategory_pods = Командные модули
    #LOC_VABOrganizer_Subcategory_stationCores = Базовые модули станции
    #LOC_VABOrganizer_Subcategory_seats = Командные кресла

    // Comms
    #LOC_VABOrganizer_Subcategory_direct = Антенны
    #LOC_VABOrganizer_Subcategory_relay = Реле
    #LOC_VABOrganizer_Subcategory_reflector = Рефлекторы

    // Control
    #LOC_VABOrganizer_Subcategory_rcs = РСУ
    #LOC_VABOrganizer_Subcategory_reactionWheels = Гироскопыф
    #LOC_VABOrganizer_Subcategory_sas = Система стабилизации

    // Coupling
    #LOC_VABOrganizer_Subcategory_decouplers = Разделители
    #LOC_VABOrganizer_Subcategory_separators = Сепараторы
    #LOC_VABOrganizer_Subcategory_dockingPorts = Стыковочные порты
    #LOC_VABOrganizer_Subcategory_grapples = Захваты

    // Electrical
    #LOC_VABOrganizer_Subcategory_solarPanels = Солнечные панели
    #LOC_VABOrganizer_Subcategory_batteries = Батареи
    #LOC_VABOrganizer_Subcategory_rtgs = Радиоизотопные генераторы
    #LOC_VABOrganizer_Subcategory_fuelcells = Топливные элементы
    #LOC_VABOrganizer_Subcategory_fissionReactors = Ядерные реакторы
    #LOC_VABOrganizer_Subcategory_fusionReactors = Термоядерные реакторы

    // Engines
    #LOC_VABOrganizer_Subcategory_lfoEngines = ЖРД на жидком топливе
    #LOC_VABOrganizer_Subcategory_cryogenicEngines = Криогенные ЖРД
    #LOC_VABOrganizer_Subcategory_solidEngines = Твердотопливные двигатели
    #LOC_VABOrganizer_Subcategory_nuclearEngines = Ядерные двигатели
    #LOC_VABOrganizer_Subcategory_ionEngines = Ионные двигатели
    #LOC_VABOrganizer_Subcategory_jetEngines = Реактивные двигатели
    #LOC_VABOrganizer_Subcategory_propEngines = Винтовые двигатели
    #LOC_VABOrganizer_Subcategory_monoEngines = Монокомпонентные двигатели

    // Fuel
    #LOC_VABOrganizer_Subcategory_lfo = Ракетное топливо
    #LOC_VABOrganizer_Subcategory_lf = Авиационный керосин
    #LOC_VABOrganizer_Subcategory_monoprop = Монотопливо
    #LOC_VABOrganizer_Subcategory_xenon = Ксеноновое топливо
    #LOC_VABOrganizer_Subcategory_argon = Аргоновое топливо
    #LOC_VABOrganizer_Subcategory_lithium = Литиевое топливо
    #LOC_VABOrganizer_Subcategory_cryogenic = Криогенное топливо
    #LOC_VABOrganizer_Subcategory_nuclearFuel = Ядерное топливо

    // Ground
    #LOC_VABOrganizer_Subcategory_legs = Посадочные опоры
    #LOC_VABOrganizer_Subcategory_wheels = Колеса
    #LOC_VABOrganizer_Subcategory_gear = Шасси

    // Payload
    #LOC_VABOrganizer_Subcategory_fairings = Обтекатели
    #LOC_VABOrganizer_Subcategory_serviceBays = Сервисные отсеки
    #LOC_VABOrganizer_Subcategory_cargoBays = Грузовые отсеки
    #LOC_VABOrganizer_Subcategory_cargoContainers = Грузовые контейнеры

    // Robotics
    #LOC_VABOrganizer_Subcategory_rotors = Роторы
    #LOC_VABOrganizer_Subcategory_hinges = Шарниры и сервоприводы   
    #LOC_VABOrganizer_Subcategory_pistons = Поршни

    // Science
    #LOC_VABOrganizer_Subcategory_instruments = Инструменты
    #LOC_VABOrganizer_Subcategory_labs = Лаборатории
    #LOC_VABOrganizer_Subcategory_scienceStorage = Хранение данных
    #LOC_VABOrganizer_Subcategory_greenhouses = Теплицы
    #LOC_VABOrganizer_Subcategory_resourceScanners = Сканеры

    // Structural
    #LOC_VABOrganizer_Subcategory_truss = Фермы
    #LOC_VABOrganizer_Subcategory_trussAdapters = Адаптеры ферм
    #LOC_VABOrganizer_Subcategory_trussHubs = Узлы ферм
    #LOC_VABOrganizer_Subcategory_adapters = Адаптеры
    #LOC_VABOrganizer_Subcategory_radialAdapters = Радиальные адаптеры
    #LOC_VABOrganizer_Subcategory_engineMounts = Крепления двигателей
    #LOC_VABOrganizer_Subcategory_girders = Балки
    #LOC_VABOrganizer_Subcategory_hubs = Узлы
    #LOC_VABOrganizer_Subcategory_multicouplers = Переходники
    #LOC_VABOrganizer_Subcategory_tubes = Трубы

    // Thermal
    #LOC_VABOrganizer_Subcategory_heatShields = Тепловые экраны
    #LOC_VABOrganizer_Subcategory_radiators = Радиаторы

    // Utility
    #LOC_VABOrganizer_Subcategory_parachutes = Парашюты
    #LOC_VABOrganizer_Subcategory_resources = Добыча ресурсов
    #LOC_VABOrganizer_Subcategory_lights = Освещение
    #LOC_VABOrganizer_Subcategory_ladders = Лестницы
    #LOC_VABOrganizer_Subcategory_flags = Флаги
    #LOC_VABOrganizer_Subcategory_crewTransport = Транспортировка кербалов
    #LOC_VABOrganizer_Subcategory_crewHabitation = Обитаемые модули
    #LOC_VABOrganizer_Subcategory_airlocks = Шлюзовые камеры

  }
}
