Localization
{
  ru
  {
    #LOC_VABOrganizer_BulkheadSortTooltip = Сорт. по профилю
    #LOC_VABOrganizer_AdvancedSortTooltip = Продв. сортировка

    // Bulkhead codes
    // ---------------
    // Stock and cylinders
    #LOC_VABOrganizer_Bulkhead_srf = SRF
    #LOC_VABOrganizer_Bulkhead_size00 = 0.3125м
    #LOC_VABOrganizer_Bulkhead_size0 = 0.625м
    #LOC_VABOrganizer_Bulkhead_size0p5 = 0.9375м
    #LOC_VABOrganizer_Bulkhead_size1 = 1.25м
    #LOC_VABOrganizer_Bulkhead_size1p5 = 1.875м
    #LOC_VABOrganizer_Bulkhead_size2 = 2.5м
    #LOC_VABOrganizer_Bulkhead_size2p5 = 3.125м
    #LOC_VABOrganizer_Bulkhead_size3 = 3.75м
    #LOC_VABOrganizer_Bulkhead_size3p5 = 4.375м
    #LOC_VABOrganizer_Bulkhead_size4 = 5м
    #LOC_VABOrganizer_Bulkhead_size4p5 = 5.625м
    #LOC_VABOrganizer_Bulkhead_size5 = 6.25м
    #LOC_VABOrganizer_Bulkhead_size5p5 = 6.875м
    #LOC_VABOrganizer_Bulkhead_size6 = 7.5м
    #LOC_VABOrganizer_Bulkhead_size6p5 = 8.125м
    #LOC_VABOrganizer_Bulkhead_size7 = 8.75м
    #LOC_VABOrganizer_Bulkhead_size7p5 = 9.375м
    #LOC_VABOrganizer_Bulkhead_size8 = 10м
    
    #LOC_VABOrganizer_Bulkhead_mk1 = МК1
    #LOC_VABOrganizer_Bulkhead_mk2 = МК2
    #LOC_VABOrganizer_Bulkhead_mk3 = МК

    // Mods
    #LOC_VABOrganizer_Bulkhead_size1p8 = 2.25м
    #LOC_VABOrganizer_Bulkhead_size1p2 = 1.5м
    #LOC_VABOrganizer_Bulkhead_hex = ГКС
    #LOC_VABOrganizer_Bulkhead_octo = ОКТ
    #LOC_VABOrganizer_Bulkhead_spinal = СПИ
    #LOC_VABOrganizer_Bulkhead_mk4 = МК4

    // Subcategory names
    // ---------------
    #LOC_VABOrganizer_Subcategory_misc = Другое
    #LOC_VABOrganizer_Bulkhead_procedural = Процедурные

    // Aero
    #LOC_VABOrganizer_Subcategory_wings = Крылья
    #LOC_VABOrganizer_Subcategory_controlSurfaces = Органы управления
    #LOC_VABOrganizer_Subcategory_noses = Носовые обтекатели
    #LOC_VABOrganizer_Subcategory_intakes = Воздухозаборники
    #LOC_VABOrganizer_Subcategory_deployableControlSurfaces = Раскладывающиеся рули
    #LOC_VABOrganizer_Subcategory_rotorBlades = Лопасти
    #LOC_VABOrganizer_Subcategory_airAcessories = Гондолы

    // Cargo 
    #LOC_VABOrganizer_Subcategory_cargoStorage = Хранилища
    #LOC_VABOrganizer_Subcategory_deployable = Развертываемые

    // Command
    #LOC_VABOrganizer_Subcategory_landers = Посадочные модули
    #LOC_VABOrganizer_Subcategory_probes = Зонды
    #LOC_VABOrganizer_Subcategory_cockpits = Кокпиты
    #LOC_VABOrganizer_Subcategory_pods = Коммандные отсеки
    #LOC_VABOrganizer_Subcategory_stationCores = Станции
    #LOC_VABOrganizer_Subcategory_seats = Сиденья
    
    // Comms
    #LOC_VABOrganizer_Subcategory_direct = Антенны
    #LOC_VABOrganizer_Subcategory_relay = Ретрансляторы
    #LOC_VABOrganizer_Subcategory_reflector = Рефлекторы

    // Control
    #LOC_VABOrganizer_Subcategory_rcs = РСУ
    #LOC_VABOrganizer_Subcategory_reactionWheels = Гиродины
    #LOC_VABOrganizer_Subcategory_sas = САС

    // Coupling
    #LOC_VABOrganizer_Subcategory_decouplers = Разделители
    #LOC_VABOrganizer_Subcategory_separators =  Пирокольца
    #LOC_VABOrganizer_Subcategory_dockingPorts = Докпорты
    #LOC_VABOrganizer_Subcategory_grapples = Устройства захвата

    // Electrical
    #LOC_VABOrganizer_Subcategory_solarPanels = Солнечные панели
    #LOC_VABOrganizer_Subcategory_batteries = Батареи
    #LOC_VABOrganizer_Subcategory_rtgs = РИТЕГи
    #LOC_VABOrganizer_Subcategory_fuelcells = Топливные ячейки
    #LOC_VABOrganizer_Subcategory_fissionReactors = Ядерные реакторы
    #LOC_VABOrganizer_Subcategory_fusionReactors = Термоядерные реакторы

    // Engines
    #LOC_VABOrganizer_Subcategory_lfoEngines = ЖРД
    #LOC_VABOrganizer_Subcategory_cryogenicEngines = Криогенные РД
    #LOC_VABOrganizer_Subcategory_solidEngines = ТТД
    #LOC_VABOrganizer_Subcategory_nuclearEngines = ЯРД
    #LOC_VABOrganizer_Subcategory_ionEngines = Ионные двигатели
    #LOC_VABOrganizer_Subcategory_jetEngines = Воздушные двигатели
    #LOC_VABOrganizer_Subcategory_propEngines = Пропеллерные двигатели
    #LOC_VABOrganizer_Subcategory_monoEngines = Монотопливные двигатели

    // Fuel
    #LOC_VABOrganizer_Subcategory_lfo = ЖТ+ОК
    #LOC_VABOrganizer_Subcategory_lf = ЖТ
    #LOC_VABOrganizer_Subcategory_monoprop = Монотопливо
    #LOC_VABOrganizer_Subcategory_xenon = Ксенон
    #LOC_VABOrganizer_Subcategory_argon = Аргон
    #LOC_VABOrganizer_Subcategory_lithium = Литиевое топливо
    #LOC_VABOrganizer_Subcategory_cryogenic = Криогенное топливо
    #LOC_VABOrganizer_Subcategory_nuclearFuel = Ядерное топливо
  
    // Ground
    #LOC_VABOrganizer_Subcategory_legs = Посадочные опоры
    #LOC_VABOrganizer_Subcategory_wheels = Колеса
    #LOC_VABOrganizer_Subcategory_gear = Шасси

    // Payload
    #LOC_VABOrganizer_Subcategory_fairings = Обтекатели
    #LOC_VABOrganizer_Subcategory_serviceBays = Сервисные отсеки
    #LOC_VABOrganizer_Subcategory_cargoBays = Грузовые отсеки
    #LOC_VABOrganizer_Subcategory_cargoContainers = Грузовые контейнеры

    // Robotics
    #LOC_VABOrganizer_Subcategory_rotors = Роторы
    #LOC_VABOrganizer_Subcategory_hinges = Шарниры и сервоприводы
    #LOC_VABOrganizer_Subcategory_pistons = Поршни

    // Science
    #LOC_VABOrganizer_Subcategory_instruments = Инструменты
    #LOC_VABOrganizer_Subcategory_labs = Лаборатории
    #LOC_VABOrganizer_Subcategory_scienceStorage = Хранилища данных
    #LOC_VABOrganizer_Subcategory_greenhouses = Гидропоника
    #LOC_VABOrganizer_Subcategory_resourceScanners = Ресурсные сканеры

    // Structural
    #LOC_VABOrganizer_Subcategory_truss = Фермы
    #LOC_VABOrganizer_Subcategory_trussAdapters = Адаптеры ферм
    #LOC_VABOrganizer_Subcategory_trussHubs = Ферменные хабы
    #LOC_VABOrganizer_Subcategory_adapters = Адаптеры
    #LOC_VABOrganizer_Subcategory_radialAdapters = Радиальные адаптеры
    #LOC_VABOrganizer_Subcategory_engineMounts = Моторамы
    #LOC_VABOrganizer_Subcategory_girders = Балки
    #LOC_VABOrganizer_Subcategory_hubs = Хабы
    #LOC_VABOrganizer_Subcategory_multicouplers = Переходники
    #LOC_VABOrganizer_Subcategory_tubes = Трубы
    
    // Thermal
    #LOC_VABOrganizer_Subcategory_heatShields = Тепловые щиты
    #LOC_VABOrganizer_Subcategory_radiators = Радиаторы

    // Utility
    #LOC_VABOrganizer_Subcategory_parachutes = Парашюты
    #LOC_VABOrganizer_Subcategory_resources = Добыча
    #LOC_VABOrganizer_Subcategory_lights = Иллюминация
    #LOC_VABOrganizer_Subcategory_ladders = Лестницы
    #LOC_VABOrganizer_Subcategory_flags = Флаги
    #LOC_VABOrganizer_Subcategory_crewTransport = Транспорт
    #LOC_VABOrganizer_Subcategory_crewHabitation = Среды обитания
    #LOC_VABOrganizer_Subcategory_airlocks = Шлюзы

    // Sorters
    // ---------------
  
    #LOC_VABOrganizer_Sorter_CrewCapacity = Вместимость экипажа 
    #LOC_VABOrganizer_Sorter_SASLevel = Уровень САС
    #LOC_VABOrganizer_Sorter_ReactionWheelTorque = Сила гиродина

    #LOC_VABOrganizer_Sorter_AntennaPower = Мощность антенны
    #LOC_VABOrganizer_Sorter_AntennaRate = Скорость передачи
    #LOC_VABOrganizer_Sorter_AntennaCost = Стоимость передачи

    #LOC_VABOrganizer_Sorter_RCSIspVac = Удель. импульс РСУ (вакуум)
    #LOC_VABOrganizer_Sorter_RCSThrustVac = Тяга РСУ (вакуум)
    
    #LOC_VABOrganizer_Sorter_EngineThrustVac = Тяга (вакуум)
    #LOC_VABOrganizer_Sorter_EngineThrustSL = Тяга (1 атм)
    #LOC_VABOrganizer_Sorter_EngineTWRVac = ТВР (вакуум)
    #LOC_VABOrganizer_Sorter_EngineTWRSL = ТВР (1 атм)
    #LOC_VABOrganizer_Sorter_EngineISPVac = Удель. импульс (вакуум)
    #LOC_VABOrganizer_Sorter_EngineISPSL = Удель. импульс (1 атм)
    #LOC_VABOrganizer_Sorter_EngineGimbalRange = Предел вектора тяги    

    #LOC_VABOrganizer_Sorter_InventorySlots = Слоты инвентаря
    #LOC_VABOrganizer_Sorter_InventoryVolume = Вместимость инвентаря

    #LOC_VABOrganizer_Sorter_ExperimentValue = Стоимость эксперимента
    #LOC_VABOrganizer_Sorter_Experiment = Тип эксперимента
    
    #LOC_VABOrganizer_Sorter_PowerConsumption = Потребление ЭЭ
    #LOC_VABOrganizer_Sorter_PowerGeneration = Производство ЭЭ

    #LOC_VABOrganizer_Sorter_HeatConsumption = Отвод тепла
    #LOC_VABOrganizer_Sorter_HeatGeneration = Производство тепла

    #LOC_VABOrganizer_Sorter_PowerMax = Вместимость ЭЭ
    #LOC_VABOrganizer_Sorter_MonopropMax = Вместимость монотоплива

  }
}